<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
</startup>
<appSettings>
  <add key="autorun" value="false"/>
  <add key="spin" value="true"/>
  <add key="switchimage" value="0"/>
  <add key="imagepath" value="."/>
  <add key="switchticks" value="50"/>
  <add key="playmusic" value="false"/>
  <add key="currentmusic" value=""/>
  <add key="musicmode" value="0"/><!--歌曲播放模式 -->
  <add key="musicuri" value=""/><!--歌曲uri-->
</appSettings>
</configuration>
